.form-control {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 0 5rem;
  border: none;
  outline: none;
  @include radius(0.3rem);
  @media (max-width: 992px) {
    width: fit-content;
    margin: 1rem auto;
  }
}
